/* CSS for the navigation bar */
nav.navbar {
  background-color: #6CBC96;
}

nav.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  padding-left: 10px;
}

nav.navbar ul li {
  margin-right: 30px;
  padding-left: 10px;
}

nav.navbar ul li:last-child {
  margin-right: 0;
}

nav.navbar ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 10px 16px;
  text-decoration: none;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

nav.navbar ul li a:hover {
  background-color: #549476;
}

/* Additional styling for the image */
img {
  max-width: 100%;
  display: block;
  margin-top: 20px;
}

div.energypoints-container {
  width: 300px;
  border-radius: 25px;
  display: inline-block;
  overflow: hidden;
}

progress {
  width: 100%;
  height: 30px;
  background-color: #f1f1f1;
}

progress::-webkit-progress-value {
  background-color: white;
}

div p.points {
  color: white;
  display: inline;
  margin-top: 0;
  padding: 10px;
}

div img.sun {
  border-radius: 50%;
  margin-top: 0;
  padding: 3px;
  width: 30px;
  height: 30px;
}

img.logo {
  margin-top: 2px;
  padding: 3px;
  width: 30px;
  height: 30px;
  position: static;
}

div.container {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

/* seed select */

h1.seed-select {
  padding-top: 3rem;
  margin-left: 35%;
  margin-right: 35%;
}


h2.seed-label {
  color: black;
  text-align: center;
}

body.seed-select-page {
  margin: 0;
  padding: 0;
  background-color: #6CBC96;
}

div.container-easy {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
  height: 250px;
  max-width: 1000px;
  margin: 20px 375px;
  margin-bottom: 100px;
}

div.container-med {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
  height: 250px;
  max-width: 1000px;
  margin: 20px 375px;
  margin-bottom: 100px;
}

div.container-hard {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
  height: 250px;
  max-width: 1000px;
  margin: 20px 375px;
  margin-bottom: 100px;
}

div.box {
  background-color: white;
  padding: 20px;
  width: 250px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
  opacity: 50%;

}

div.box-opaque {
  background-color: white;
  padding: 20px;
  width: 250px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
  cursor: pointer;
}

img.seed-select {
  border-radius: 50%;
  margin-top: 0;
  padding: 3px;
  width: 150px;
  height: 200px;
}

h1.seed-levels {
  color: white;
  text-align: center;
}

.seed {
  width: 450px;
  height: auto;
}

hr.seed {
  border: none;
  border-top: 2px solid white;
  /* margin-top: 50px; */
}

.flex-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  width: 80%;
  font-size: 30px;
}

div.start-button-seed {
  margin: 0;
  padding: 0;
  height: 10vh;
  position: relative;
  padding-bottom: 2.5rem;
}

button.next-button-seed {
  padding: 20px 60px;
  background-color: white;
  color: #6CBC96;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 25px;
  bottom: 30px;
  right: 30px;
}

/* Hover effect for the next button */
.next-button:hover {
  background-color: #549476;
}

.back-container {
  padding-bottom: 100px;
}

.back-arrow {
  position: absolute;
  top: 30px;
  left: 30px;
  color: white;
  font-size: 70px;
  text-decoration: none;
}

.back-arrow:hover {
  transform: scale(1.05);
}

button.back-arrow {
  background-color: white;
  color: #6CBC96;
  font-size: 30px;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

/* Landing Page */
body {
  background-color: #6CBC96;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  text-align: center;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}

img.landing-page {
  max-width: 100%;
  max-height: 100vh;
}

header.landing-page {
  padding: 10px;
  text-align: center;
  width: 100%;
  /* Take full width */
}

h1.landing-page {
  font-size: 60px;
  margin: 10px;
}

h2.landing-page {
  padding-left: 5rem;
  padding-right: 5rem;
}

.start-button-landing {
  background-color: white;
  display: inline-block;
  padding: 10px 20px;
  font-size: 30px;
  color: #6CBC96;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  text-decoration: none;
}

.start-button-landing:hover {
  transform: scale(1.05);
}
.next-button-seed:hover {
  transform: scale(1.05);
}

.skip-button-instruction,
.next-button-instruction {
  background-color: white;
  display: inline-block;
  padding: 10px 20px;
  font-size: 30px;
  color: #6CBC96;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  text-decoration: none;
  transition: transform 0.2s;
  margin-right: 10px;
}

.skip-button-instruction:hover,
.next-button-instruction:hover {
  transform: scale(1.05);
}

/* Styles for the arrow */
.arrow-right-instruction {
  margin-left: 8px;
}

.arrow-right {
  margin-left: 10px;
  color: #6CBC96;
}

.container-landing-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Instructions page */

ul.instruction {
  margin-top: 1rem;
  text-align: left;
  padding-left: 16rem;
  padding-right: 16rem;
}

li.instruction {
  list-style: none;
  font-size: 22px;
  margin-bottom: 10px;
}

.skip-button-instruction {
  background-color: #6CBC96;
  color: white;
  text-decoration: none;
  border: 5px solid white;
  font-size: 30px;
  padding: 15px 35px;
  border-radius: 10px;
  margin-right: 10px;
}

.next-button-instruction {
  background-color: white;
  color: #6CBC96;
  font-size: 30px;
  padding: 20px 30px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  text-decoration: none;
}


.button-container-instruction {
  display: flex;
  justify-content: right;
  margin-top: 3rem;
  padding-right: 0rem;
  text-decoration: none;
}

.container-instruction h1 {
  margin-top: 5rem;
  font-size: 60px;
}

/* Navigation Demo Page */
.navigation-bar-demo h1 {
  font-size: 30px;
  margin: 10px;
}

.container-demo {
  padding-top: 80px;
}

.card-containers-demo {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
  margin: 0 auto;
}

.card {
  background-color: white;
  color: black;
  margin: 10px;
  min-width: 50px;
  max-width: 200px;
  flex: 1;
  padding: 10px;
  border-radius: 10px;
  flex-basis: auto;
}

.card p {
  font-size: 20px;
}

/* Garden page */
.garden-plot-empty {
  width: 50vh;
  max-width: 100%;
  margin-top: 3rem;
  height: auto;
  display: block;
}

img.garden {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 13rem;
}

@media (max-width: 1000px) {
  img {
    max-width: 100%;
    display: block;
    margin-top: 20px;
  }

  div.energypoints-container {
    width: 150px;
    border-radius: 25px;
    display: inline-block;
    overflow: hidden;
  }

  progress {
    width: 100%;
    height: 30px;
    background-color: #f1f1f1;
  }

  progress::-webkit-progress-value {
    background-color: white;
  }

  div p.points {
    color: white;
    display: inline;
    margin-top: 0;
    padding: 10px;
  }

  div img.sun {
    border-radius: 50%;
    margin-top: 0;
    padding: 3px;
    width: 30px;
    height: 30px;
  }

  img.logo {
    margin-top: 2px;
    padding: 3px;
    width: 30px;
    height: 30px;
    position: static;
  }

  div.container {
    display: flex;
    align-items: center;
    margin-right: 0;
    padding: 0;
  }
}

h1.quizpage {
  margin-right: 5rem;
  margin-left: 5rem
}

h2.quizpage {
  margin-left: 25rem;
  margin-right: 25rem;
  padding-bottom: 1rem;
}

  .quiz-answers-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }

  .answer-block {
    background-color: white;
    color: black;
    font-size: 30px;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
  }

  .answer-block:active {
    outline: black;
  }

  .clicked {
    outline: 2px solid #ff9800;
  }

  .margin {
    margin-top: 10%;
    margin-left: 20%;
  }

  .correct-answer {
    display: flex;
  }

  .correct-answer > section {
    margin-right: 10%;
    margin-top: 15%;
  }

  .text-container {
    max-width: 400px;
    padding: 10px;
  }

  .text-container > p {
    overflow-wrap: break-word;
  }

  .energy-points {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    color: black;
    font-weight: bold;
    border-radius: 10%;
    padding: 5%;
  }

  img.energy {
    width: 200px;
    height: 200px;
  }

  .button-padding {
    margin-left: 65%;
    margin-top: 20%;
  }

  article#quiz-score {
    display: flex;
    flex-direction: column;
  }

  .position {
    top: 30px;
    left: 30px;
    color: white;
    font-size: 700px;
    text-decoration: none;
    margin-top: 5%;
  }

.answer-block:active {
  outline: black;
}

.clicked {
  outline: 2px solid #ff9800;
}

  #compost-diy {
    display: flex;
  }

  .compost-list{
    text-align: left;
  }

  #hidden{
    display: none;
  }

  .hidden {
    display: none;
  }

.margin {
  margin-top: 10%;
  margin-left: 20%;
}

.correct-answer {
  display: flex;
  flex-direction: row;
}


.text-container {
  max-width: 400px;
  padding: 10px;
}

.text-container>p {
  overflow-wrap: break-word;
}

.energy-points {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  color: black;
  font-weight: bold;
  border-radius: 10%;
  padding: 5%;
  margin-bottom: 10%;
}

img.energy {
  width: 200px;
  height: 200px;
}

.button-padding {
  margin-left: 65%;
  margin-top: 20%;
}

article#quiz-score {
  display: flex;
  flex-direction: column;
}

.position {
  top: 30px;
  left: 30px;
  color: white;
  font-size: 700px;
  text-decoration: none;
}

button.position {
  background-color: white;
  color: #6CBC96;
  font-size: 30px;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.heading {
  margin-top: 20%;
}

.heading2 {
  margin-top: 5%;
}

#game-selection {
  display: flex;
  justify-content: center;
}

.game-image {
  width: 200px;
  height: 200px;
  border-radius: 10%;
  transition: transform 0.2s ease-in-out;
}

.game-image:hover {
  transform: scale(1.1);
}

.game-image:hover {
  transform: none;
}

.column {
  width: 30%;
  margin: 3%;
}


.selected {
  outline: solid black;
}

.unselected {
  opacity: 75%;
}

.custom-checkbox {
  width: 30px;
  height: 30px;
  margin-right: 9px;
  vertical-align: middle;
}

.custom-label {
  display: inline-block;
}

body.questprompt {
  text-align: left;
}

.checkbox-container {
  margin-bottom: 30px;
}

img.sortingPic {
  width: 60%;
}

.sortingQuestion {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.next-button-instruction-sorting strong a {
  text-decoration: none;
  color: #549476;
}

.next-button-instruction-sorting {
  background-color: white;
  color: #6CBC96;
  font-size: 30px;
  padding: 20px 30px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 30px;
}


.next-button-instruction-sorting:hover {
  transform: scale(1.05);
}

.diy-text-container {
  word-wrap: break-word;
  white-space: normal;
  overflow: hidden;
}