body {
    background-color: #6CBC96;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
}

header img {
   padding-top: 2rem;
}

h1 {
    font-size: 40px;
}

h2 {
   padding-left: 15rem;
   padding-right: 15rem; 
}

.start-button {
    background-color: white;
    color: #6CBC96;
    font-size: 24px;
    padding: 20px 40px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.arrow-right {
    margin-left: 10px;
    color: #6CBC96;
}