/* Landing Page */
body {
    background-color: #6CBC96;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
}

header img {
   padding-top: 2rem;
}

h1 {
    font-size: 60px;
    margin: 10px;
}

h2 {
   padding-left: 15rem;
   padding-right: 15rem; 
}

.start-button {
    background-color: white;
    color: #6CBC96;
    font-size: 30px;
    padding: 20px 40px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.arrow-right {
    margin-left: 10px;
    color: #6CBC96;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Instructions page */

.back-arrow {
    position: absolute;
    top: 20px;
    left: 20px;
    color: white;
    font-size: 70px;
    text-decoration: none;
}

ul {
    margin-top: 1rem;
    text-align: left;
    padding-left: 13rem;
    padding-right: 13rem;
}

li {
    list-style: none;
    font-size: 22px;
    margin-bottom: 10px;
}

.skip-button {
    background-color: #6CBC96;
    color: white;
    text-decoration: underline;
    border: 5px solid white;
    font-size: 30px;
    padding: 15px 35px;
    border-radius: 10px;
    margin-right: 10px;
}

.next-button {
    background-color: white;
    color: #6CBC96;
    font-size: 30px;
    padding: 20px 30px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.button-container {
    display: flex;
    justify-content: right;
    margin-top: 3rem;
    padding-right: 5rem;
}

.container h1 {
    margin-top: 5rem;
}

.navigation-bar-demo h1 {
    font-size: 30px;
}

/* Navigation Demo Page */

.card-containers {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 800px;
    margin: 0 auto;
}

.card {
    background-color: white;
    color: black;
    margin: 10px;
    min-width: 50px;
    max-width: 200px;
    flex: 1;
    padding: 10px;
    border-radius: 10px;
    flex-basis: auto;
}

.card p {
    font-size: 20px;
}

/* Garden page */

.garden-plot-empty {
    width: 50vh;
    max-width: 100%;
    margin-top: 3rem;
    height: auto;
    display: block;
    
}